html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#61C19D, #94A59F);
}

.clock {
	height: 500px;
	width: 500px;
	background-color: #E9FEF6;
	border-radius: 50%;
	border: 2px solid #160B38;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 50px;
	top: 0;
	left: 0;
}

.number1 {
	transform: rotate(30deg);
}

.number2 {
	transform: rotate(60deg);
}

.number3 {
	transform: rotate(90deg);
}

.number4 {
	transform: rotate(120deg);
}

.number5 {
	transform: rotate(150deg);
}

.number6 {
	transform: rotate(180deg);
}

.number7 {
	transform: rotate(210deg);
}

.number8 {
	transform: rotate(240deg);
}

.number9 {
	transform: rotate(270deg);
}

.number10 {
	transform: rotate(300deg);
}

.number11 {
	transform: rotate(330deg);
}







