html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#61C19D, #94A59F);
}

.clock {
	height: 500px;
	width: 500px;
	background-color: #E9FEF6;
	border-radius: 50%;
	border: 2px solid #160B38;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

